<div class="container-card">
  <ol>
    <li class="angular">
      <a href="http://localhost:4200">
        <div class="image">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1024px-Angular_full_color_logo.svg.png"
            alt=""
          />
        </div>
        <div class="span">
          <span>Angular</span>
        </div>
      </a>
    </li>
    <li class="spring">
      <a href="http://localhost:8080">
        <div class="image">
          <img
            src="https://miro.medium.com/max/500/1*AbiX4LwtSNozoyfypcKvEg.png"
            alt=""
          />
        </div>
        <div class="span">
          <span>Java Spring</span>
        </div>
      </a>
    </li>
    <li class="next">
      <a href="http://localhost:3000" target="_self">
        <div class="image">
          <img
            src="https://seeklogo.com/images/N/next-js-icon-logo-EE302D5DBD-seeklogo.com.png"
            alt=""
          />
        </div>
        <div class="span">
          <span>Next.js</span>
        </div>
      </a>
    </li>
    <li class="vue">
      <a href="http://localhost:3000">
        <div class="image">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1184px-Vue.js_Logo_2.svg.png"
            alt=""
          />
        </div>
        <div class="span">
          <span>Vue.js</span>
        </div>
      </a>
    </li>
    <li class="laravel">
      <a href="http://localhost:8080">
        <div class="image">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/1969px-Laravel.svg.png"
            alt=""
          />
        </div>
        <div class="span">
          <span>Laravel</span>
        </div>
      </a>
    </li>
  </ol>
</div>
